/*Components Header*/

header{
  display: flex;
  justify-content:space-around
}

.list-horrizzontal{
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding-top: 45px;
}

a{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}

ul li a:hover{
  color: blue;
}

/*Main*/
main{
  background-color: #0C7CEC;
}
#click{
  background-color: black;
  padding: 50px;
  padding-left: 150px;
  display: flex;
}

.content-click{
  color: white;
}
.content{
  color:white;
}

#products{
  color: white;
  background-color: #0C7CEC;
  padding-bottom: 30px;
  padding-left: 7rem;
}

#products 
.list-horrizzontal li{
  margin-right: 30px;
}


/*footer*/

footer{
  background-image: url("./assets/img/footer-bg.jpg");
}

.footer-content{
  display: flex;
  padding-left: 14rem;
}

h3{
  color: white;
}

.list-vertical{
  display: block;

}

footer a{
  color:grey;
  text-transform: capitalize;
}

footer ul{
  list-style-type: none;
}

div h3{
  padding-left: 40px;
}

.footer-btn{
  display: flex;
  justify-content: space-around;
  background-color: #303030;
  padding: 30px;
}

.signup a{
  color:white;
}

button{
  background-color: #303030;
  border-color: #0C7CEC;
  padding: 10px;
}

.socialmedia a{
  color: #0C7CEC;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
}


