/*Components Header*/

header{
  display: flex;
  justify-content:space-around
}

ul{
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding-top: 45px;
}

a{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}

ul li a:hover{
  color: blue;
}

/*Main*/
main{
  background-color: #0C7CEC;
}
#click{
  background-color: black;
  padding: 50px;
  padding-left: 150px;
  display: flex;
}

.content-click{
  color: white;
}
.content{
  color:white;
}

#products{
  color: white;
  background-color: #0C7CEC;
  padding-bottom: 30px;
}

ul{
  display: flex;
}

li{
  justify-content: space-between;
}
