/*Components Header*/ /*http://localhost:5173/*/

header{
  display: flex;
  justify-content:space-around
}

.list-horrizzontal{
  display: flex;
  gap: 10px;
  list-style-type: none;
  padding-top: 45px;
}

a{
  color:black;
  text-decoration: none;
  text-transform: uppercase;
}

ul li a:hover{
  color: blue;
}

/*Main*/
main{
  background-color: #0C7CEC;
}

#click{
  background-color: black;
  padding: 0 50px;
  padding-bottom: 50px;
  display: flex;
}

.content-click{
  color: white;
}

.teen-titans{
  height: 60vh;
  width: 100%;
  position: relative;
}

.etichetta{
  color: white;
  position: absolute;
  top: 770px;
  left: 500px;
  text-transform: uppercase;
  font-weight:bold;
  border: #0C7CEC solid 2px;
  background-color: #0C7CEC;
  padding: 20px;
  font-size: 30px;
}


#products{
  color: white;
  background-color: #0C7CEC;
  padding-bottom: 30px;
  padding-left: 7rem;
}

.list-horrizzontal{
  display: flex;
}

.list-item-main{
  display: flex;
}

.content{
  color:white;
  
}

#products 
.list-horrizzontal li{
  margin-right: 30px;
}



.img-main{
  width: 25px;
  height: 25px;
}


/*footer*/

footer{
  background-image: url("./assets/img/footer-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.footer-content{
  display: flex;
  padding-left: 14rem;
}

h3{
  color: white;
}

.list-vertical{
  display: block;

}

footer a{
  color:grey;
  text-transform: capitalize;
}

footer ul{
  list-style-type: none;
}

div h3{
  padding-left: 40px;
}

.footer-btn{
  display: flex;
  justify-content: space-around;
  background-color: #303030;
  padding: 30px;
}

.signup a{
  color:white;
}

button{
  background-color: #303030;
  border-color: #0C7CEC;
  padding: 10px;
}

.socialmedia{
  display: flex;
  gap: 15px;
}

.socialmedia a{
  color: #0C7CEC;
  font-weight: bold;
  font-size: large;
  text-transform: uppercase;
  align-items: center;
}

.social-icon{
  width: 25px;
  height: 25px;
}


